@charset "UTF-8"

$col-red: red
$col-green: green
$col-blue: blue
$col-yellow: yellow
$col-orange: orange
$col-purple: purple
// $colors: $col-red, $col-green, $col-blue, $col-yellow, $col-orange, $col-purple

.container
  width: min(700px, 100%)
  margin: 0px auto
  .box
    width: 150px
    aspect-ratio: 1
    background-color: #999
    &:not(:first-of-type)
      margin-top: 175px
    &.red
      background-color: $col-red
    &.green
      background-color: $col-green
    &.blue
      background-color: $col-blue
    &.yellow
      background-color: $col-yellow
    &.purple
      background-color: $col-purple
    &.orange
      background-color: $col-orange
  
  .wrapper
    position: relative
    width: 150px
    aspect-ratio: 1
    margin-top: 175px
    background-color: #ffa50061
    .inner, .shadow
      position: absolute
      top: 0
      left: 0
    .orange
      margin-top: 0