@charset "UTF-8"

// WEBフォントのインポート
// Noto Sans JP
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700;900&display=swap')
$noto: "Noto Sans JP", sans-serif

$col-blue: blue
$col-green: #02c202
$col-orange: orange
$col-red: red
$colors: $col-blue, $col-green, $col-orange, $col-red
// $col-yellow: yellow
// $col-purple: purple
// @each $col in $colors
//   $idx: index($colors, $col)
//   &:nth-of-type(#{ $idx })
//     background-color: $col

:root 
  font-size: 93.75%
  scroll-behavior: smooth
  body 
    font-family: $noto
    line-height: 1.7
    .container
      width: min(700px, 100%)
      margin: 0 auto
      padding: 50px 0
      background-color: #eee
      .box
        display: flex
        justify-content: center
        align-items: center
        width: 100px
        height: 100px
        font-size: 2rem
        font-weight: 900
        text-transform: uppercase
        color: #fff
        background-color: #999
        + .box
          margin-top: 50px
