@charset "UTF-8"

// Font Jost
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap')
$jost: "Jost", sans-serif

// color
$col-red: #be2020
$col-green: #6ed06e
$col-blue: #1c1ca6
$col-yellow: #ccb200
$col-orange: orange
$col-purple: #611c61


body
  font-family: $jost
  font-size: 30px
  font-weight: 900
  letter-spacing: .1em
  color: #fff
  text-transform: uppercase

.box, footer
  display: flex
  justify-content: center
  align-items: center

.container
  position: relative
  width: 100%
  margin: 0px auto
  .box
    width: 100%
    height: 100vh
    background-color: #eee
    &.red
      position: relative
      background-color: $col-red
      .pin-item.red
        right: 10%
    &.blue
      position: relative
      background-color: $col-blue
    &.yellow
      background-color: $col-yellow
      .pin-item.yellow
        width: 200px
        padding: 200px 0
        text-align: center
        background-color: #999
        opacity: .5
    &.purple
      background-color: $col-purple
    .pin-item
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

footer
  width: 100%
  height: 50vh
  color: #fff
  background-color: #333