@use "../globals" as *;
@use "../parts/common" as *;

#container {
  position: relative;
  z-index: 10;
  background: $cWhite;
  transition: transform 0.5s, box-shadow 0.5s;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  will-change: transform;
  &.intro {
    @include bg($image: "../images/bg_1_sm.jpg");
    @include mq(lg) {
      @include bg($image: "../images/bg_1_lg.png");
    }
  }
  &.call-to-action {
    @include bg($image: "../images/bg_3_sm.jpg");
    justify-content: flex-start;
    padding-top: 10vh;
    & .catch.font-lg {
      line-height: 1.25;
    }
    @include mq(lg) {
      @include bg($image: "../images/bg_3_lg.png");
      justify-content: center;
      padding-top: unset;
    }    
  }
  &.case-studies {
    @include bg($image: "../images/bg_4_sm.jpg");
    justify-content: flex-start;
    padding-top: 5vh;
    @include mq(lg) {
      @include bg($image: "../images/bg_4_lg.jpg");
    }     
  }
  &.contact {
    @include bg($image: "../images/bg_2_sm.jpg");
    justify-content: flex-start;
    padding-top: 18vh;
    @include mq(lg) {
      @include bg($image: "../images/bg_2_lg.png");
      justify-content: center; 
      padding-top: unset;
    }     
  }
}

.wrapper {
  position: relative;
  &::after {
    @include bg(
      $image: "../images/cross-line-red.png",
      $size: 125%
      );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 300px;
    height: 300px;
    z-index: -1;
  }
  &__inner {
    margin: 2em 0;
  }
}

.catch-en {
  font-family: "Cormorant Garamond", serif;
  &__lg {
    position: relative;
    font-size: 90px;
    line-height: 1;
    text-align: center;
    color: #999;
    &.focus {
      margin-bottom: 15px;
      font-size: 230px;
      font-weight: 900;
      line-height: 0.7;
    }
    & > .catch-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 18px;
      font-weight: 700;
      color: #333;
    }
  }
  &__md {
    font-size: 55px;
    line-height: .65;
    color: #999;
  }
}

.catch, .copy {
  font-family: "Noto Serif JP", serif;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  &.font-md {
    margin-bottom: .5em;
  }
}

.copy {
  margin-top: 1em;
  line-height: 1.7;
}

.company-name {
  margin-top: 2em;
  font-family: "Cormorant Garamond", serif;
  line-height: 1;
  text-align: center;
}

.my-list {
  margin: 1.5em 1em;
  padding-inline-start: unset;
  padding: 1.5em 1em;
  list-style-type: none;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;  
  border: 1px solid #333;
  & > li {
    position: relative;
    padding-left: 1.25em;
    font-size: .9em;
    line-height: 1.5;
    text-align: left;
    &:not(:first-of-type) {
      margin-top: .25em;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "●";
      color: #142A5D;
    }
  }
}

.links-wrapper {
  display: flex;
  gap: 1em;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 1.5em 1em 0;
  // マスクによるグラデーション透過効果
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  @include mq(lg) {
    width: 55%;
  }
  
  & a {
    text-decoration: none;
    color: #333;
  } 
  & span {
    display: block;
    margin-bottom: .25em;
    font-family: "Noto sans JP", sans-serif;
    font-size: .85em;
    font-weight: 900;
    text-align: center;
  }
}

// .links-wrapper {
//   display: flex;
//   gap: 1em;
//   width: 55%;
//   height: 80vh;
//   overflow: hidden;
//   margin: 0 auto;
//   padding: 1.5em 1em 0;
//   position: relative; // 位置指定を追加
  
//   // マスクによるグラデーション透過効果
//   mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  
//   & a {
//     text-decoration: none;
//     color: #333;
//   } 
//   & span {
//     display: block;
//     margin-bottom: .25em;
//     font-family: "Noto sans JP", sans-serif;
//     font-size: .85em;
//     font-weight: 900;
//     text-align: center;
//   }
// }

.contact-wrapper {
  text-align: center;
  & > .title {
    position: relative;
    margin: 75px 0 .5em;
    font-family: "Noto sans JP", sans-serif;
    font-size: .85em;
    line-height: 1;
    font-weight: 900;
    &::before {
      @include bg($image: "../images/icon-form.png");      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -140%);
      width: 45px;
      height: 45px;
      content: "";
    }
    &.tel-number::before {
      @include bg(
        $image: "../images/icon-telphone.png",
        $size: contain
        );      
        transform: translate(-50%, -140%);
    }
  }
  & .catch-en__md > a {
    color: #999;
  }
}

.travel {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    position: relative;
    z-index: 0;
    @extend .flex;
    justify-content: space-between;
    background: $cBgGray;
    padding: 15px;

    @include mq(md) {
      padding: 50px;
    }

    @include mq(xl) {
      padding: 50px 150px;
    }
  }
  &__img {
    @extend .mb-sm;
    height: 300px;
    transition: box-shadow 0.5s ease 1.6s;

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }

    @include mq(md) {
      flex-basis: 47%;
    }

    @include mq(lg) {
      height: 400px;
    }

    & > img {
      position: relative;
      z-index: -1;
      opacity: 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__texts {
    @extend .pb-sm;

    @include mq(md) {
      display: flex;
      align-items: flex-end;
      flex-basis: 47%;
    }

    &.inview {
      & .travel__title::before {
        @include animation($name: scaleX, $duration: 0.3s, $delay: 1.5s);
      }
    }
  }

  &__title {
    position: relative;

    &::before {
      display: none;
      position: absolute;
      content: "";
      height: 1px;
      width: 100px;
      top: 50%;
      left: -120px;
      background: $cBlack;
      transform: scaleX(0);
      transform-origin: right;

      @include mq(lg) {
        display: block;
      }
    }
  }

  &__description {
    @include mq(lg) {
      margin-bottom: 40px;
    }
  }
}

@keyframes scaleX {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.houses {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .mb-sm;
    @extend .font-lg;
  }

  &__item {
    @include mq(md) {
      flex-basis: 50%;
    }
    @include mq(lg) {
      margin-bottom: 60px;
    }
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.popular {
  &__header {
    @extend .content-width;
  }
  &__inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 90%;
      width: 100%;
      background: $cBgGray;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    @extend .content-width;
    @extend .flex;
    justify-content: space-between;
  }

  &__item {
    @include mq(md) {
      flex-basis: 47%;
    }
    @include mq(lg) {
      flex-basis: 25%;
    }
    @include mq(xl) {
      flex-basis: 23%;
    }
  }

  &__title {
    @extend .mb-sm;
    @extend .font-md;
  }

  &__img {
    height: 150px;
    margin-bottom: 5px;

    @include mq(lg) {
      height: 335px;
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
    @extend .mb-lg;
  }
}

.footer {
  padding: 60px 0;
  @extend .content-width;

  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    list-style: none;
    padding: 0;
  }

  &__li {
    margin: 10px;

    @include mq(md) {
      margin-left: 0;
      margin-right: 30px;
    }

    & > a {
      color: $cSubTitle;
      text-decoration: none;
    }
  }

  & > .logo {
    font-size: 38px;
    justify-content: center;

    @include mq(md) {
      justify-content: flex-start;
    }
  }
}

.logo {
  font-size: 42px;
  display: flex;

  &__img {
    width: 0.7em;
  }

  &__world {
    color: $cWineRed;
  }
}

.side {
  display: none;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  transition: all 0.3s ease;

  @include mq(xl) {
    display: block;
  }

  & .tween-animate-title {
    color: $cBlack;
    text-decoration: none !important;
    margin: 0 40px;
    vertical-align: middle;
    letter-spacing: 2px;
  }

  &.left {
    left: -50px;

    &.inview {
      left: 50px;
    }

    & .side__inner {
      transform-origin: top left;
      transform: rotate(-90deg);
    }
  }

  &.right {
    right: -50px;

    &.inview {
      right: 50px;
    }

    & .side__inner {
      transform-origin: top right;
      transform: rotate(90deg);
    }
  }
}

.icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 1em;
    height: 1em;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: none;
    background-size: contain;
  }

  &.twitter::before {
    background-image: url(../images/twitter.svg);
  }
  &.fb::before {
    background-image: url(../images/facebook.svg);
  }
}
