@use "../globals" as *;
@use "../parts/common" as *;

#container {
  position: relative;
  z-index: 10;
  background: $cWhite;
  transition: transform 0.5s, box-shadow 0.5s;
}

#main-content {
  position: relative;
  z-index: 0;
}

main {
  position: relative;
  z-index: -1;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  will-change: transform;
  overflow: hidden;
  &.intro {
    @include bg($image: "../images/bg_1_sm.jpg");
    justify-content: flex-start;
    padding-top: 11vh;
    @include mq(lg) {
      @include bg($image: "../images/bg_1_lg.png");
      padding-top: 10vh;
    }
  }
  &.call-to-action {
    @include bg($image: "../images/bg_3_sm.jpg");
    justify-content: flex-start;
    padding-top: 10vh;
    & .catch.font-lg {
      line-height: 1.25;
    }
    @include mq(lg) {
      @include bg($image: "../images/bg_3_lg.png");
      justify-content: center;
      padding-top: unset;
    }    
  }
  &.case-studies {
    @include bg($image: "../images/bg_4_sm.jpg");
    justify-content: flex-start;
    padding-top: 5vh;
    @include mq(lg) {
      @include bg($image: "../images/bg_4_lg.jpg");
    }     
  }
  &.contact {
    @include bg($image: "../images/bg_2_sm.jpg");
    justify-content: flex-start;
    padding-top: 18vh;
    @include mq(lg) {
      @include bg($image: "../images/bg_2_lg.png");
      justify-content: center; 
      padding-top: unset;
    }     
  }
}

.logo-lg {
  font-size: 1.4em;
  vertical-align: 22px;
}

.logo-sm {
  font-size: .5em;
  // vertical-align: 0px;
}

.wrapper {
  position: relative;
  &::after {
    @include bg(
      $image: "../images/cross-line-red.png",
      $size: 125%
      );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 300px;
    height: 300px;
    z-index: -1;
  }
  &__inner {
    margin: 2em 0;
  }
}

.panel.intro {
  & .wrapper__inner {
    margin: 2em 0;
    @include mq(lg) {
      margin: 3em 0 2em;
    }
  }
}

.catch-en {
  font-family: "Cormorant Garamond", serif;
  &__lg {
    position: relative;
    font-size: 85px;
    line-height: 1;
    text-align: center;
    color: #aaa;
    @include mq(lg) {
      font-size: calc(85px * 1.8);
    }
    &.focus {
      margin-bottom: 15px;
      font-size: 230px;
      font-weight: 900;
      line-height: 0.7;
    }
    & > .catch-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 350%);
      width: 100%;
      font-size: 15px;
      font-weight: 700;
      color: #333;
      & > span {
        font-size: 1.2em;
      }
      @include mq(lg) {
        transform: translate(-50%, 380%);
        font-size: calc(18px * 1.3);
      }
    }
  }
  &__md {
    font-size: 55px;
    line-height: .65;
    color: #999;
    @include mq(lg) {
      font-size: calc(55px * 1.4);
    }
  }
}

.catch, .copy {
  font-family: "Noto Serif JP", serif;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  &.font-md {
    margin-bottom: .5em;
  }
  &.top-catch {
    line-height: 1.3;
  }
}

.copy {
  margin-top: 1em;
  line-height: 1.7;
}

.company-name {
  margin-top: 2em;
  font-family: "Cormorant Garamond", serif;
  line-height: 1;
  text-align: center;
}

.my-list {
  margin: 1.5em 1em;
  padding-inline-start: unset;
  padding: 1.5em 1em;
  list-style-type: none;
  font-family: "Noto Serif JP", serif;
  font-weight: 900;  
  background-color: rgba(255, 255, 255, .7);
  border: 1px solid #333;
  & > li {
    position: relative;
    padding-left: 1.25em;
    font-size: .9em;
    line-height: 1.5;
    text-align: left;
    &:not(:first-of-type) {
      margin-top: .25em;
    }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "●";
      color: #142A5D;
    }
  }
}

.links-wrapper {
  display: flex;
  gap: 1em;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 1.5em 1em 0;
  // マスクによるグラデーション透過効果
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  @include mq(lg) {
    gap: 3em;
    width: 55%;
  }
  
  & a {
    text-decoration: none;
    color: #333;
  } 
  & span {
    display: block;
    margin-bottom: .25em;
    font-family: "Noto sans JP", sans-serif;
    font-size: .85em;
    font-weight: 900;
    text-align: center;
  }
}

// .links-wrapper {
//   display: flex;
//   gap: 1em;
//   width: 55%;
//   height: 80vh;
//   overflow: hidden;
//   margin: 0 auto;
//   padding: 1.5em 1em 0;
//   position: relative; // 位置指定を追加
  
//   // マスクによるグラデーション透過効果
//   mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  
//   & a {
//     text-decoration: none;
//     color: #333;
//   } 
//   & span {
//     display: block;
//     margin-bottom: .25em;
//     font-family: "Noto sans JP", sans-serif;
//     font-size: .85em;
//     font-weight: 900;
//     text-align: center;
//   }
// }

.contact-wrapper {
  text-align: center;
  & > .title {
    position: relative;
    margin: 75px 0 .5em;
    font-family: "Noto sans JP", sans-serif;
    font-size: .85em;
    line-height: 1;
    font-weight: 900;
    &::before {
      @include bg($image: "../images/icon-form.png");      
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -140%);
      width: 45px;
      height: 45px;
      content: "";
    }
    &.tel-number::before {
      @include bg(
        $image: "../images/icon-telphone.png",
        $size: contain
        );      
        transform: translate(-50%, -140%);
    }
    &.my-name {
      margin: 15px 0 0;
    }
    &.my-name::before {
      position: unset;
    }
  }
  & .catch-en__md > a {
    color: #999;
  }
}

.appear-br-sm {
  @include mq(lg) {
    display: none;
  }
}