@import 'variables';

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  padding: 0 20%;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  will-change: transform;
  
  p {
    margin-top: 40px;
    font-size: 15px;
    line-height: 2;
    text-align: justify;
  }
  
  &.blue {
    background-color: $col-blue;
  }
  
  &.red {
    background-color: $col-red;
  }
  
  &.orange {
    background-color: $col-orange;
  }
  
  &.purple {
    background-color: $col-purple;
  }
}