@use "../globals" as *;

body {
  font-size: 93.75%;
  font-family: "Cormorant Garamond", "Noto Serif JP", serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #333;
} 

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;

  @include mq(lg) {
    margin-bottom: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;

  @include mq(lg) {
    padding-bottom: 150px !important;
  }
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.flex {
  display: flex;
  flex-direction: column;

  @include mq(md) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.purple {
  color: $cWineRed;
}

// font
.font-sm {
  font-size: 15px;

  @include mq(lg) {
    font-size: 24px;
  }
}
.font-md {
  font-size: 24px;

  @include mq(lg) {
    font-size: 30px;
  }
}
.font-lg {
  font-size: 28px;

  @include mq(lg) {
    font-size: 50px;
  }
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  @extend .font-sm;
  @extend .mb-sm;
  color: $cSubTitle;
}
