// cormorant-garamond
.cormorant-garamond-font {
  font-family: "Cormorant Garamond", serif;
}

// noto-serif-jp
.noto-serif-jp-font {
  font-family: "Noto Serif JP", serif;
}

// zen-antique
.zen-antique-font {
  font-family: "Zen Antique", serif;
  font-weight: 400;
  font-style: normal;
}

// eb-garamond-font
.eb-garamond-font {
  font-family: "EB Garamond", serif;
  font-style: normal;
}